@import '../../assets/style/variables';
@import '../../assets/style/mixins';

.admin {
  padding: 60px 0;
  font-family: Roboto, sans-serif;
  p{
    font-family: Roboto, sans-serif;
  }
  .container {
    display: flex;
    flex-direction: row;
  }
  &__content {
    width: 100%;
  }
  &__sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 40px;
  }
  &-product{
    &__edit{
      display: flex;
      flex-direction: column;
      padding: 40px;
      border-radius: 4px;
      border: 1px solid gray;
    }
    &__row {
      display: flex;
    }
    &__image {
      width: 40px;
      height: 40px;
    }
  }
  &-about {
    &__text {
      margin-bottom: 20px;
      font-size: 16px;
      &-aria {
        padding: 6px 0 7px;
        line-height: 1.1876em;
      }
    }
    &__buttons {
      margin-bottom: 30px;
    }
  }
}

