@import '../../../src/assets/style/variables';
@import '../../../src/assets/style/mixins';

.new-member {
  position: fixed;
  padding: 48px 24px;
  max-width: 600px;
  width: 100%;
  @include column;
  top: 50%;
  left: calc(50% - 300px);
  transform: translateY(-50%);
  background-color: $color-smoke;
  border-radius: 4px;
  box-shadow: 0 0 4px $color-dark;
  z-index: 1000;
  &__close {
    @include closeBtn(12px, 12px, 12px, 12px);
  }
  &__title {
    color: $color-mocco;
    margin-bottom: 32px;
  }
  &__text {
    text-decoration: underline;
  }
  @media (max-width: 600px) {
    left: auto;
  }
}