@import './../../../src/assets/style/variables';
@import './../../../src/assets/style/mixins';
.rodo {
  padding: 120px 0;
  @media (max-width: 912px) {
    padding: 80px 0;
  }
  &__title{
    margin-bottom: 32px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__item {
    line-height: 20px;
    margin-bottom: 12px;
  }
  a {
    color: $color-mocco;
  }
}