@import '../../../src/assets/style/variables';
@import '../../../src/assets/style/mixins';
.cart {
  &__products{
    padding-top: 24px;
    height: calc(100vh - (166px + 46px + 24px));
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__actions {
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 24px;
    border-top: 1px solid $color-nude;
    background-color: $color-smoke;
    &-sum{
      margin: 0;
      font-family: $font-libre;
      font-size: 18px;
    }
  }
  &__promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    &-form {
      position: relative;
      display: flex;
      align-items: center;
    }
    &-input {
      height: 32px;
      border: none;
      border-bottom: 1px solid rgba(0,0,0, 0.1);
      background-color: transparent;
      &:focus,
      &:active{

        outline: none;
        border: none;
        border-bottom: 1px solid $color-nude;
      }
    }
    &-btn {
      height: 32px;
      width: 20px;
      background-image: url(./../../assets/img/arrow-promo-gray.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      transition: 0.2s;
      cursor: pointer;
      &:hover {
        background-image: url(./../../assets/img/arrow-promo.svg);
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-libre;
    font-size: 18px;
    &-checkout {
      padding: 6px 10px;
      border-radius: 4px;
      border: 1px solid $color-red;
      color: $color-red;
      text-transform: uppercase;
      line-height: 1rem;
      cursor: pointer;
      transition: 0.2s;
      transform: scale(1);
      &--disable {
        color: gray;
        pointer-events: none;
        border-color: gray;
      }
      &:hover {
        //border-color: $color-nude;
        //color: $color-nude;
        transform: scale(1.1);
      }
    }
    &-back {
       position: relative;
       padding-left: 48px;
      &:before {
        content: url(./../../assets/img/arrow-left-gray.svg);
        position: absolute;
        left: 0;
        top: -2px;
        transition: 0.3s;
      }
      &:hover:before{
        transition: 0.3s;
        left: -8px;
      }
    }
  }
}

@media (max-width: 412px) {
  .cart {
   &-product {
     &__name {
       display: none;
     }
   }
    &__promo {
      &-input {
        width: 120px;
      }
    }
    &__buttons{
      &-back {
        padding-left: 0;
        &:before{
          display: none;
        }
      }
    }
  }
}
@media (max-width: 358px) {
  .cart {
    &__buttons{
      font-size: 14px;
    }
    &__actions-sum{
      font-size: 14px;
    }
  }
}