@import '../../../src/assets/style/variables';
@import '../../../src/assets/style/mixins';

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 68px;
  padding: 12px 0;
  z-index: 1;

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 100px;
  }

  &__nav {
    padding: 0 36px;
  }

  &__menu {
    display: flex;
    align-items: center;
    padding-left: 36px;

    &-item:not(:first-child):not(:last-child) {
      margin-left: 36px;
    }

    &-btn {
      display: block;
      width: 28px;
      height: 28px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: .3s;
      cursor: pointer;
      padding: 0;

      &:hover {
        opacity: .8;
        transition: .3s;
      }

      &--cart {
        background-image: url("./../../assets/img/cart_outline.svg");

        &:hover,
        &.active {
          background-image: url("./../../assets/img/cart.svg");
        }
      }

      &--wish {
        background-image: url("./../../assets/img/heart_outline.svg");

        &:hover,
        &.active {
          background-image: url("./../../assets/img/heart.svg");
        }
      }

      &--profile {
        background-image: url("./../../assets/img/profile_outline.svg");

        &:hover,
        &.active {
          background-image: url("./../../assets/img/profile.svg");
        }
      }

      &--burger {
        @include column;
        justify-content: space-between;
        width: 24px;
        height: 24px;
        padding: 2px;
        display: none;

        &:hover span {
          transform: rotate(180deg);
        }

        span {
          width: 100%;
          height: 1px;
          background-color: $color-dark;
          flex-shrink: 0;
          transition: 0.3s;
        }
      }
    }
  }
}

@media (max-width: 912px) {
  .header {
    &__nav {
      display: none;
    }

    &__menu {
      &-item:not(:first-child) {
        margin-left: 16px !important;
      }

      &-btn {
        &--burger {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 424px) {
  .header {
    &__menu {
      padding-left: 16px;

      &-item:not(:first-child) {
        margin-left: 16px !important;
      }
    }
  }
}