@import '../../assets/style/variables';
@import '../../assets/style/mixins';
.shop {
  padding: 120px 0;
  &__title {
    @include homeTitles('');
    margin-bottom: 0;
    @media (max-width: 520px) {
      margin: 0 auto 20px;

    }
  }
  &__row {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-column-gap: 20px;

    @media (max-width: 1031px) {
      grid-template-columns: 3fr;
    }

  }
  &__content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    @media (max-width: 492px) {
      align-items: center;
    }
  }
  &__properties {
    position: relative;
    @media (max-width: 520px) {
      margin: 0 auto;
    }
  }
  &__select {
    width: 90px;
    text-align: left;
    border-radius: 4px;
    border: 1px solid $color-mocco-opasy;
    font-size: 12px;
    padding: 4px 0 4px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url(../../assets/img/arrow-fill.svg);
    background-repeat: no-repeat;
    background-position:  72px center;
    background-size: 10px 10px;
    cursor: pointer;
    @media (max-width: 326px) {
      width: 80px;
      background-position:  62px center;
    }
    &:not(:last-child) {
      margin-right: 12px;
    }
    &:focus {
      outline: none;
    }
  }
  &__prop-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 28px;
    position: relative;
    @media (max-width: 520px) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    grid-gap: 1rem;
    position: relative;
    width: 100%;
    @media (max-width: 1177px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
    }
    @media (max-width: 992px) {
      grid-gap: 20px;
    }
    @media (max-width: 793px) {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 60px;
    }
    @media (max-width: 628px) {
      padding: 0 40px;
    }
    @media (max-width: 586px) {
      padding: 0 20px;
    }
    @media (max-width: 544px) {
      padding: 0;
    }
    @media (max-width: 534px) {
      grid-template-columns: 1fr;
    }
  }

  &__sidebar{
    position: sticky;
    top: 120px;
    height: fit-content;
    width: 100%;
  }
  &__form {
    width: 100%;
    padding: 20px 12px;
    background-color: $color-smoke;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    @include column(flex-start);
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0 0 4px 0 $color-mocco;
      }
    }
    @media (max-width: 1031px) {
      position: absolute;
      top: 40px;
      z-index: 10;
    }

    &--wrap {
      width: 100%;
    }

    &:not(:last-of-type){
      margin-bottom: 20px;
    }
    &--title{
      margin-bottom: 20px;
      text-transform: capitalize;
      cursor: pointer;
      transition: 0.3s;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $color-nude;
        }
      }
    }
    &--submit{
      width: 100%;
      padding: 4px 8px;
      background-color: $color-mocco;
      color: $color-smoke;
      font-weight: 600;
      transition: 0.3s;
      cursor: pointer;
      border-radius: 2px;
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: $color-nude;
        }
      }
    }
  }

  &__categories {
    width: 100%;
    @include column(flex-start);
    margin-bottom: 20px;


    &--item {
      width: 100%;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:not(:last-of-type){
        margin-bottom: 12px;
      }
      &-checkmark {
        position: absolute;
        right: 0;
        top:3px;
        height: 14px;
        width: 14px;
        border: 1px solid $color-mocco-opasy;
        border-radius: 4px;
        transition: 0.3s;
      }

      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        cursor: pointer;
        z-index: 1;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover input ~ &-checkmark {
          border-color: $color-mocco;
        }
        &:hover input:checked ~ &-checkmark {
          background-color: transparent;
          border-color: $color-mocco-opasy;
        }
      }

      input:checked ~ &-checkmark {
        background-color: $color-mocco-opasy;
        border-color: $color-mocco;
      }
      &-checkmark:after {
        content: "";
        position: absolute;
        display: none;
        transition: 0.3s;
      }

      input:checked ~ &-checkmark:after {
        display: block;
      }

       &-checkmark:after {
        left: 4px;
        top: -6px;
        width: 10px;
        height: 16px;
        border: solid $color-mocco;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 942px) {
  .shop {

  }
}

