@import '../../../../src/assets/style/variables';
@import '../../../../src/assets/style/mixins';

.home-catalog {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  .container {
    width: 100%;
  }
  &__items {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-column-gap: 20px;
    grid-gap: 20px;
  }

  &__title {
  @include homeTitles('Product catalog')
  }
}