.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-link {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: 0.3s;

    &--inst {
      background-image: url("../../assets/img/inst.svg");
    }

    &--wu {
      background-image: url("../../assets/img/wu.svg");
    }

    &--mail {
      background-image: url("../../assets/img/mail.svg");
    }

    @media (hover: hover) and (pointer: fine) {
      &--inst:hover {
        background-image: url("../../assets/img/inst-hover.svg");
      }
      &--wu:hover {
        background-image: url("../../assets/img/wu-hover.svg");
      }
      &--mail:hover {
        background-image: url("../../assets/img/mail-hover.svg");
      }
    }
  }
}
