@import "variables";

@mixin sidePopup($width) {
  display: block;
  width: $width;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
  background: $color-smoke;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 5;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  &.show {
    transform: translateX(0);
  }
}

@mixin column($align : center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin buttonActionProfile() {
  flex: 0.5 0 0;
  text-align: center;
  padding: 8px 12px;
  font-weight: bold;
  color: $color-dark;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: $color-mocco-opasy;
  }
}