@import "variables";

@mixin sidePopup($width) {
  display: block;
  width: $width;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  padding: 24px;
  background: $color-smoke;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  z-index: 5;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  &.show {
    transform: translateX(0);
  }
}

@mixin column($align : center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin buttonActionProfile() {
  flex: 0.5 0 0;
  text-align: center;
  padding: 8px 12px;
  font-weight: bold;
  color: $color-dark;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background-color: $color-mocco-opasy;
  }
}

@mixin closeBtn($width: 20px, $height:20px , $top: 24px, $left: 24px ) {
  display: block;
  width: $width;
  height: $height;
  position: absolute;
  top: $top;
  left: $left;
  background-image: url("./../../assets/img/close.svg");
  background-size: 18px 18px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 4px;
  transform: rotate(0);
  transition: 0.2s;
  &:hover{
    transform: rotate(90deg);
  }
}

@mixin homeTitles($before) {
  margin-bottom: 32px;
  position: relative;
  font-size: 32px;
  &:before {
    content: $before;
    position: absolute;
    top: -48px;
    left: 0;
    font-size: 62px;
    text-shadow: 10px 0px 2px rgba(67, 59, 156, 0.1);
    color: transparent;
  }
}