//_colors
$color-dark: #3B3F45;
$color-nude: #D9C3B6;
$color-mocco: #AA8067;
$color-red: #E30E0F;
$color-smoke: #F7F7FB;
$color-mocco-opasy: rgba(217, 156, 118, 0.4);

//_gradient
$gradient-baner: linear-gradient(98.71deg, #CDB8AB 41.38%, rgba(217, 195, 182, 0.5) 100%);

//font-family
$font-libre: Libre Baskerville;

