@import '../../assets/style/variables';
@import '../../assets/style/mixins';

.menu {
  display: flex;
  align-items: center;
  padding-left: 36px;

  &-item:not(:first-child):not(:last-child) {
    margin-left: 36px;
  }

  &-btn {
    display: block;
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: .3s;
    cursor: pointer;
    padding: 0;

    &:hover {
      opacity: .8;
      transition: .3s;
    }

    &--cart {
      background-image: url("../../assets/img/cart_outline.svg");

      &:hover,
      &.active {
        background-image: url("../../assets/img/cart.svg");
      }
    }

    &--wish {
      background-image: url("../../assets/img/heart_outline.svg");

      &:hover,
      &.active {
        background-image: url("../../assets/img/heart.svg");
      }
    }

    &--profile {
      background-image: url("../../assets/img/profile_outline.svg");

      &:hover,
      &.active {
        background-image: url("../../assets/img/profile.svg");
      }
    }

    &--burger {
      justify-content: space-between;
      width: 24px;
      height: 24px;
      padding: 2px;
      display: none;
      background-image: url("../../assets/img/burger.svg");
      background-size: 20px 22px;
      background-position: center;
      background-repeat: no-repeat;
      @media (hover: hover) and (pointer: fine) {
        &:hover span {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: 912px) {
  .menu {
    &-item:not(:first-child) {
      margin-left: 16px !important;
    }

    &-btn {
      &--burger {
        @include column;
      }
    }
  }
}

@media (max-width: 424px) {
  .menu {
    padding-left: 16px;

    &-item:not(:first-child) {
      margin-left: 16px !important;
    }
  }
}